<h1>LOG IN</h1>

<form action="/login" method="POST">
    <input type="text" placeholder="enter username" name="username">
    <input type="password" placeholder="enter password" name="password">
    <button>Login</button>

</form>

<li><a href="/login">Login</a></li>
<li><a href="/logout">Logout</a></li>
