<h1>Sign-up form</h1>
<form action="/register" method="POST">
    <input type="text" placeholder="enter username" name="username">
    <input type="password" placeholder="enter password" name="password">
    <button>Submit</button>

</form>

<li><a href="/login">Login</a></li>
<li><a href="/logout">Logout</a></li>
