<h1>This is the SECRET PAGE</h1>
<img src="https://www.dailynews.com/wp-content/uploads/2017/12/ucla-helmet-held-aloft.jpg?w=620"></img>

<li><a href="/login">Login</a></li>
<li><a href="/logout">Logout</a></li>
